* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background: #dddddd;
}
.container{
  width: 900px;
  border-radius: 7px;
  box-shadow: 0 0 17px rgb(95, 95, 95);
  margin: 50px auto;
  background: #f5f5f5;
}
.error{
  color: red;
}
.white{
  background: white;
  border-radius: 7px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.main{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.left{
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.temperature{
  font-size: 33px;
  font-weight: 700;
}
.right{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.center_right{
  display: flex;
  justify-content: space-between;
}
.center-box{
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
}
.p{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: end;
}

.bottom_right{
  display: flex;
  justify-content: end;
}
.span:nth-child(1){
  color: rgb(0, 223, 0);
}
.span{
  padding: 5px;
  font-size: 22px;
}
